version: '3.8'
services:
  load-balancer:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - server
      - client
    networks:
      - mern-network

  server:
    build: ./server
    # container_name: crypto-server  <-- Removed to allow scaling
    expose:
      - "5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/crypto-journal
      - JWT_SECRET=your_jwt_secret_change_me
    depends_on:
      - mongo
    networks:
      - mern-network

  client:
    build: ./client
    container_name: crypto-client
    expose:
      - "80"
    depends_on:
      - server
    networks:
      - mern-network

  mongo:
    image: mongo:latest
    container_name: crypto-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-network

  k6:
    image: grafana/k6:latest
    networks:
      - mern-network
    volumes:
      - ./load-test:/scripts

networks:
  mern-network:
    driver: bridge

volumes:
  mongo-data:
